<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reconnect</title>
    <link rel="stylesheet" href="../public/css/results.css" type="text/css" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Noto+Sans+JP&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="../public/images/logo.png" alt="reconnect-logo" class="logo" />
    </header>
    <div id="container">
      <p id="result">We recommend...</p>
      <!--  G A M E S -->
      <div class="categories">
        <h2>Games</h2>
        <div id="games" class="wrapper">
          <a
            id="codenames"
            class="cards"
            href="https://codenames.game"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/codenames.png"
                alt="Error"
                width="145px"
                height="70px"
              />
              <h3>Codenames Online</h3>
              <p class="tags">Casual</p>
              <p class="tags">Comedy</p>
              <p class="tags">Strategy</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 4 - 8</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">Free</p>
            </div>
            <div class="description">
              <p>
                This game is divided into the red and the blue team. For each
                team, you can either be assigned the role of Spymaster or
                Observer. If you're the spymaster, the goal is to give a
                one-word hint to the observer(s) on your team, and the
                oberserver's role is to guess the cards that match this word.
                The team that guesses all of its cards first wins!
              </p>
            </div>
          </a>
          <a
            id="skribblio"
            class="cards"
            href="https://skribbl.io"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/skrib.jpg"
                alt="Error"
                width="135px"
                height="70px"
              />
              <h3>Skribbl.io</h3>
              <p class="tags">Casual</p>
              <p class="tags">Comedy</p>
              <p class="tags">Strategy</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 2 - 8</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">Free</p>
            </div>
            <div class="description">
              <p>
                Everyone has probably played this game once in their lives, and
                the online version of it works just the same! In turns, draw an
                object and have the rest of the players guess it. <br /><br />
                The player who gets most points wins!
              </p>
            </div>
          </a>
          <a
            id="amongus"
            class="cards"
            href="https://store.steampowered.com/app/945360/Among_Us/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/amongus.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Among Us</h3>
              <p class="tags">Casual</p>
              <p class="tags">Cartoony</p>
              <p class="tags">Psychological</p>
            </div>
            <div class="details">
              <p><b>Players: </b> 4 - 10</p>
              <p><b>Age range:</b> 9+</p>
              <p class="price" style="margin-top: 60px">Free on mobile</p>
              <p class="price" style="margin-top: 10px">$5.69 on desktop</p>
            </div>
            <div class="description">
              <p>
                Grab your friends or play with strangers. In this game, you are
                either assigned the role of crewmate or imposter. As a crewmate,
                your role is to find the impostor among you and eject them. As
                the impostor, your role is to sabotage the ship and get everyone
                eliminated. Who will make it out alive?
              </p>
            </div>
          </a>
          <a
            id="golf"
            class="cards"
            href="https://store.steampowered.com/app/431240/Golf_With_Your_Friends/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/golf.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Golf With Your Friends</h3>
              <p class="tags">Casual</p>
              <p class="tags">Sports</p>
              <p class="tags">Indie</p>
              <p class="tags">Action</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 1 - 12</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">$17.49 CAD</p>
            </div>
            <div class="description">
              <p>
                Golf With Your Friends is an entertaining, challenging,
                multiplayer mini golf game for up to 12 players. <br /><br />
                The controls are simple and the game is designed for the user to
                be able to host or join a game within a few seconds.
                <br /><br />
                A mixture of public and player servers allows you to play with
                new and existing friends!
              </p>
            </div>
          </a>
          <a
            id="pubg"
            class="cards"
            href="https://store.steampowered.com/app/578080/PLAYERUNKNOWNS_BATTLEGROUNDS/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/pubg.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>PLAYERUNKWOWN'S BATTLEGROUNDS</h3>
              <p class="tags">Survival</p>
              <p class="tags">Shooter</p>
              <p class="tags">Battle Royale</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 1 - 4</p>
              <p><b>Age range:</b> 13+</p>
              <p class="price" style="margin-top: 60px">$36.99 on desktop</p>
              <p class="price" style="margin-top: 10px">Free on mobile</p>
            </div>
            <div class="description">
              <p>
                Golf With Your Friends is an entertaining, challenging,
                multiplayer mini golf game for up to 12 players. <br />The
                controls are simple and the game is designed for the user to be
                able to host or join a game within a few seconds. <br /><br />A
                mixture of public and player servers allows you to play with new
                and existing friends!
              </p>
            </div>
          </a>
          <a
            id="fallguys"
            class="cards"
            href="https://store.steampowered.com/app/1097150/Fall_Guys_Ultimate_Knockout/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/fallguys.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Fall Guys</h3>
              <p class="tags">Comedy</p>
              <p class="tags">Battle royale</p>
              <p class="tags">Cartoony</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 2 - 60</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">$19.99 CAD</p>
            </div>
            <div class="description">
              <p>
                Fall Guys is a massively multiplayer party game with up to 60
                players online in a free-for-all struggle through round after
                round of escalating chaos until one victor remains!
              </p>
            </div>
          </a>
          <a
            id="sporcle"
            class="cards"
            href="https://www.sporcle.com"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/sporcle.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Sporcle Quizzes</h3>
              <p class="tags">Casual</p>
              <p class="tags">Strategy</p>
            </div>
            <div class="details">
              <p><b> Players: </b> Any</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">Free</p>
            </div>
            <div class="description">
              <p>
                Sporcle is a trivia website which allows users to take quizzes
                on a range of subjects.<br /><br />
                Challenge yourself and your friends for a fun trivia game night!
              </p>
            </div>
          </a>
          <div id="trivia" class="cards">
            <div class="base">
              <img
                src="../public/images/trivia.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Trivia via Zoom</h3>
              <p class="tags">Casual</p>
              <p class="tags">Comedy</p>
              <p class="tags">Strategy</p>
            </div>
            <div class="details">
              <p><b>Players: </b> Any</p>
              <p><b>Age range: </b> All ages</p>
              <p class="price">Free</p>
            </div>
            <div class="description">
              <p>
                Challenge yourself and your friends for a fun trivia game night
                over zoom. All kinds of topics are open for usage, and the
                on-camera experience makes it all even better.
              </p>
            </div>
          </div>
          <a
            id="overcooked"
            class="cards"
            href="https://store.steampowered.com/app/728880/Overcooked_2/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/overcooked.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Overcooked 2</h3>
              <p class="tags">Casual</p>
              <p class="tags">Indie</p>
              <p class="tags">Cooking</p>
            </div>
            <div class="details">
              <p><b> Players: </b> 1 - 4</p>
              <p><b>Age range:</b> All ages</p>
              <p class="price">$28.99 CAD</p>
            </div>
            <div class="description">
              <p>
                Overcooked returns with a brand-new helping of chaotic cooking
                action! Journey back to the Onion Kingdom and assemble your team
                of chefs in classic couch co-op or online play for up to four
                players. Hold onto your aprons… it’s time to save the world
                again!
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- E X E R C I S E S -->
      <div class="categories">
        <h2>Exercises</h2>
        <div id="exercises" class="wrapper">
          <a
            id="yogaBeginner"
            class="cards"
            href="https://yogawithadriene.com/yoga-complete-beginners/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/yogaBeginner.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Yoga For Complete Beginners</h3>
              <p class="tags">Flexibility</p>
              <p class="tags">Balance</p>
              <p class="tags">Strength</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> Thin mat</p>
            </div>
            <div class="description">
              <p>
                The beauty of Yoga practice is it serves up what you intend, it
                always manages to fulfill and assist in incredible
                transformation. But you gotta practice. You just gotta.
                <br /><br />Yoga is not about what you do but how you do it. It
                is about the experience. It is not about becoming someone you
                are not- but rather, getting back to the true awesome you.
              </p>
            </div>
          </a>
          <a
            id="yogaElders"
            class="cards"
            href="https://youtu.be/dF7O6-QabIo"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/yogaElders.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Rainbow Yoga</h3>
              <p class="tags">Flexibility</p>
              <p class="tags">Balance</p>
              <p class="tags">Strength</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> Thin mat</p>
            </div>
            <div class="description">
              <p>
                Rainbow Yoga! The perfect 17-minute practice to brighten your
                day, to help turn darkness into light. Great for ALL AGES!
              </p>
            </div>
          </a>
          <a
            id="flexibleFast"
            class="cards"
            href="https://youtu.be/jeNwE4VXqgs"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/flexibleFast.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Stretches for the Inflexible!</h3>
              <p class="tags">Flexibility</p>
              <p class="tags">Balance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> Thin mat</p>
            </div>
            <div class="description">
              <p>
                Follow Along to this stretching routine to help improve
                flexibility for dance, cheerleading and more. This is beginner
                stretching routine, so anyone can follow along even if you
                consider yourself not to be flexible. For best results, I
                recommend following along to this routine 3-5 times a week.
              </p>
            </div>
          </a>
          <a
            id="hiit"
            class="cards"
            href="https://youtu.be/QultvH22v2Y"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/hiit.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Full Body Cardio HIIT Workout</h3>
              <p class="tags">Strength</p>
              <p class="tags">Cardio</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> None</p>
            </div>
            <div class="description">
              <p>
                A 10 min equipment free, full body cardio/strength HIIT workout!
                Do this at home or in the gym!
              </p>
            </div>
          </a>
          <a
            id="karate"
            class="cards"
            href="https://youtu.be/hWB0Xehv23A"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/karate.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Shotokan Karate Follow Along Class</h3>
              <p class="tags">Strength</p>
              <p class="tags">Cardio</p>
              <p class="tags">Balance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> None</p>
            </div>
            <div class="description">
              <p>
                This is a Shotokan Beginner's Class with Warm Up, Basic Kihon
                Drills and a Cool Down.
              </p>
            </div>
          </a>
          <a
            id="taekwondo"
            class="cards"
            href="https://youtu.be/F1kXuQ3QB-Y"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/taekwondo.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Taekwondo Follow Along Class</h3>
              <p class="tags">Strength</p>
              <p class="tags">Cardio</p>
              <p class="tags">Balance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> None</p>
            </div>
            <div class="description">
              <p>
                Welcome to your first Korean Taekwondo class. Simply follow
                along with 3rd degree black belt instructor Adam Gerrald. Get a
                great workout as you learn the basic principles of this awesome
                art.
              </p>
            </div>
          </a>
          <a
            id="rasputin"
            class="cards"
            href="https://www.youtube.com/watch?v=4DcGBE-F9hk"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/rasputin.jpg"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Rasputin Just Dance</h3>
              <p class="tags">Cardio</p>
              <p class="tags">Balance</p>
              <p class="tags">Strength</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All ages</p>
              <p><b>Equipment: </b> None</p>
            </div>
            <div class="description">
              <p>
                Follow along to the Just Dance demo for the song Rasputin. This
                is a great way to get moving while having fun, either on your
                own or with friends!
              </p>
            </div>
          </a>
        </div>
      </div>
      <!- C O O K I N G -->
      <div class="categories">
        <h2>Cooking</h2>
        <div id="cooking" class="wrapper">
          <a
            id="avocadoToast"
            class="cards"
            href="https://youtu.be/28GCv_C-SVI"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/avocadoToast.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Avocado Toast with Eggs</h3>
              <p class="tags">Breakfast</p>
              <p class="tags">Nut-Free</p>
            </div>
            <div class="details">
              <p><b>Prep :</b> 3 mins</p>
              <p><b>Cook: </b> 3 mins</p>
              <p><b>Time: </b> 6 mins</p>
            </div>
            <div class="description">
              <p>
                What I love about this breakfast is that it’s not only healthy
                and hearty, it’s delicious and quick to make (if you’re
                organised). The eggs are fried but kind of poached and steamed
                at the same time. So they remain soft and delicate like poached
                eggs with the flavour of fried eggs. Adding the chopped chives
                to the raw whites gives the eggs a great flavour and an
                interesting look as the chives set in the cooked whites.
              </p>
            </div>
          </a>
          <a
            id="chocolateCake"
            class="cards"
            href="https://www.allrecipes.com/recipe/17981/one-bowl-chocolate-cake-iii/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/chocolateCake.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Chocolate Cake</h3>
              <p class="tags">Desserts</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 20 mins</p>
              <p><b>Cooking: </b> 30 mins</p>
              <p><b>Time: </b> 1 hour</p>
            </div>
            <div class="description">
              <p>
                This is a rich and moist chocolate cake. It only takes a few
                minutes to prepare the batter. Frost with your favorite
                chocolate frosting.
              </p>
            </div>
          </a>
          <a
            id="tahiniCookies"
            class="cards"
            href="https://www.loveandlemons.com/tahini-cookies/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/tahiniCookies.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Tahini Cookies</h3>
              <p class="tags">Desserts</p>
              <p class="tags">Gluten-Free</p>
              <p class="tags">Vegan</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 10 mins</p>
              <p><b>Cooking: </b> 15 mins</p>
              <p><b>Time: </b> 25 mins</p>
            </div>
            <div class="description">
              <p>
                It's impossible to eat one of these tahini cookies without
                reaching for a second. They're lightly sweet, chewy, and filled
                with spiced, nutty flavor.
              </p>
            </div>
          </a>
          <a
            id="falafel"
            class="cards"
            href="https://www.loveandlemons.com/falafel/#wprm-recipe-container-42582"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/falafel.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Crispy Bakes Falafels</h3>
              <p class="tags">Dinner</p>
              <p class="tags">Vegan</p>
              <p class="tags">Dairy-Free</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 15 mins</p>
              <p><b>Cooking: </b> 25 mins</p>
              <p><b>Time: </b> 40 mins</p>
            </div>
            <div class="description">
              <p>
                Packed with herbs & spices, this crispy baked falafel recipe is
                bursting with delicious flavor. Stuff it into pitas, top it with
                your favorite fixings and enjoy!
              </p>
            </div>
          </a>
          <a
            id="riceRoll"
            class="cards"
            href="https://www.kidspot.com.au/kitchen/recipes/kid-approved-chicken-rice-paper-rolls/7pncdkto?r=collection/allergyfriendlyrecipesnutfreedairyfreeglutenfree&c=xzj7qgm6/Allergy%20friendly%20recipes%20nut%20free%20dairy%20free%20gluten%20free"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/riceRoll.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Kid-approved Chicken Rice Paper Rolls</h3>
              <p class="tags">Dinner</p>
              <p class="tags">Dairy-Free</p>
              <p class="tags">Gluten-Free</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 10 mins</p>
              <p><b>Cooking: </b> N/A</p>
              <p><b>Time: </b> 10 mins</p>
            </div>
            <div class="description">
              <p>
                These little parcels of yum are a perfect way to throw together
                a tasty yet healthy dinner that even the smallest member of your
                family will wolf down.
              </p>
            </div>
          </a>
          <a
            id="muffins"
            class="cards"
            href="https://www.allrecipes.com/recipe/18061/egg-free-dairy-free-nut-free-cake/"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/muffins.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Egg-Free Dairy-Free Nut-Free Cake</h3>
              <p class="tags">Dessert</p>
              <p class="tags">Nut-Free</p>
              <p class="tags">Vegan</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 15 mins</p>
              <p><b>Cooking: </b> 35 mins</p>
              <p><b>Time: </b> 50 hour</p>
            </div>
            <div class="description">
              <p>
                This chocolate cake is so good, you'll never miss the dairy
                products! Check at your health food store for tofu or nondairy
                chocolate chips.
              </p>
            </div>
          </a>
          <a
            id="quesadillas"
            class="cards"
            href="https://youtu.be/j2z1ABDaaxg"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/quesadillas.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Breakfast Quesadillas</h3>
              <p class="tags">Breakfast</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 3 mins</p>
              <p><b>Cooking: </b> 7 mins</p>
              <p><b>Time: </b> 10 mins</p>
            </div>
            <div class="description">
              <p>
                Breakfast quesadillas are the easiest one-pan breakfast and take
                just minutes to make. If you enjoyed our Steak Quesadillas, you
                will love these!
              </p>
            </div>
          </a>
          <a
            id="lunchbox"
            class="cards"
            href="https://www.momables.com/blt-salad-lunch/#tasty-recipes-34819"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/lunchbox.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>BLT Salad Lunchbox</h3>
              <p class="tags">Lunch</p>
              <p class="tags">Nut-Free</p>
              <p class="tags">Gluten-Free</p>
            </div>
            <div class="details">
              <p><b>Prep:</b> 15 mins</p>
              <p><b>Cooking: </b> N/A</p>
              <p><b>Time: </b> 15 mins</p>
            </div>
            <div class="description">
              <p>
                If you love all things bacon then this BLT Salad is just what
                you need! All the BLT fixing plus avocado, cheese, and homemade
                Ranch dressing- it’s meal prep perfection!
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- M O V I E S /  S H O W S -->
      <div class="categories">
        <h2>Movies/TV</h2>
        <div id="movies" class="wrapper">
          <a
            id="modernFamily"
            class="cards"
            href="https://www.netflix.com/title/70143858"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/modernFamily.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Moden Family</h3>
              <p class="tags">Comedy</p>
              <p class="tags">Romance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> TV-14</p>
            </div>
            <div class="description">
              <p>
                Ed O’Neill, Sofia Vergara, Julie Bowen, more <br /><br />
                Three modern-day families from California try to deal with their
                kids, quirky spouses and jobs in their own unique ways, often
                falling into hilarious situations.
              </p>
            </div>
          </a>
          <a
            id="inception"
            class="cards"
            href="https://www.netflix.com/title/70131314"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/inception.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>inception</h3>
              <p class="tags">Action</p>
              <p class="tags">Sci-Fi</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> PG-13</p>
            </div>
            <div class="description">
              <p>
                Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page, more
                <br /><br />
                Cobb steals information from his targets by entering their
                dreams. Saito offers to wipe clean Cobb's criminal history as
                payment for performing an inception on his sick competitor's
                son.
              </p>
            </div>
          </a>
          <a
            id="howl"
            class="cards"
            href="https://www.netflix.com/title/70028883"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/howl.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Howl's Moving Castle</h3>
              <p class="tags">Drama</p>
              <p class="tags">Romance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All</p>
            </div>
            <div class="description">
              <p>
                Cheko Baisho, Takuya Kimura, Akihiro Miwa, more <br /><br />
                Sophie has an uneventful life at her late father's hat shop, but
                all that changes when she befriends wizard Howl, who lives in a
                magical flying castle.
              </p>
            </div>
          </a>
          <a
            id="forrestGump"
            class="cards"
            href="https://www.netflix.com/title/60000724"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/forrestGump.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Forrest Gump</h3>
              <p class="tags">Drama</p>
              <p class="tags">Comedy</p>
              <p class="tags">Romance</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All</p>
            </div>
            <div class="description">
              <p>
                Tom Hanks, Robin Wright, Gary Sinise, more <br /><br />
                Forrest Gump, a friendly, simpleminded man, finds himself in the
                middle of nearly every major event of the 1960s and’70s.
              </p>
            </div>
          </a>
          <a
            id="jumanji"
            class="cards"
            href="https://www.netflix.com/title/80192646"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/jumanji.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Jumanji</h3>
              <p class="tags">Action</p>
              <p class="tags">Comedy</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> PG-13</p>
            </div>
            <div class="description">
              <p>
                Four high school students get sucked into the jungle setting of
                a video game, where they embark on a quest as their comically
                mismatched adult avatars.
              </p>
            </div>
          </a>
          <a
            id="megamind"
            class="cards"
            href="https://www.netflix.com/title/70120612"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/megamind.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Megamind</h3>
              <p class="tags">Comedy</p>
              <p class="tags">Sci-Fi</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All</p>
            </div>
            <div class="description">
              <p>
                Tom McGrath, Will Ferrell, Brad Bitt, Tina Fey <br /><br />A
                supervillain named Megamind defeats and kills his enemy. Out of
                boredom he creates a superhero who becomes evil, forcing
                Megamind to turn into a hero.
              </p>
            </div>
          </a>
          <a
            id="americanMurder"
            class="cards"
            href="https://www.netflix.com/title/81130130"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/americanMurder.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>American Murder: The Family Next Door</h3>
              <p class="tags">Documentary</p>
              <p class="tags">Thriller</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All</p>
            </div>
            <div class="description">
              <p>
                American Murder: The Family Next Door is an American true crime
                documentary film directed by Jenny Popplewell. The film tells
                the story of the 2018 Watts family murders, which took place in
                Frederick, Colorado.
              </p>
            </div>
          </a>
          <a
            id="orphan"
            class="cards"
            href="https://www.primevideo.com/detail/0U46UOO07B253BPWMGUTBKMQEM/ref=atv_dp_share_cu_r"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/orphan.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Orphan</h3>
              <p class="tags">Horror</p>
              <p class="tags">Thriller</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> 18+</p>
            </div>
            <div class="description">
              <p>
                Isabelle Fuhrman, Peter Sarsgaard, Vera Farmiga, more
                <br /><br />
                A couple, who recently lost their baby, adopts a nine-year-old
                girl. They soon find out that she has a troubled and mysterious
                past and she is not at all who she pretends to be.
              </p>
            </div>
          </a>
          <a
            id="monsterHouse"
            class="cards"
            href="https://www.netflix.com/title/70044595"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/monsterHouse.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Monster House</h3>
              <p class="tags">Horror</p>
              <p class="tags">Comedy</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> All</p>
            </div>
            <div class="description">
              <p>
                Mitchel Musso, Sam Lerner, Spencer Locke, more <br /><br />
                A trio of friends sets out to expose the terrors of a vacant
                neighborhood house, which appears to have a craving for people -
                and a life of its own.
              </p>
            </div>
          </a>
          <a
            id="bandOfBrothers"
            class="cards"
            href="https://www.youtube.com/watch?v=l4T2PKY1okM&ab_channel=BandofBrothers"
            target="_blank"
          >
            <div class="base">
              <img
                src="../public/images/bandOfBrothers.png"
                alt="Error"
                width="140px"
                height="70px"
              />
              <h3>Band of Brothers</h3>
              <p class="tags">Drama</p>
              <p class="tags">Action</p>
            </div>
            <div class="details">
              <p><b>Age range:</b> 18+</p>
            </div>
            <div class="description">
              <p>
                Damian Lewis, Michael Cudlitz, Michael Fassben, more
                <br /><br />
                The story of Easy Company, 506th Regiment of the 101st Airborne
                Division from 1942 to the end of World War II. A collection of
                fifty portraits illustrated by archive footage and recounted in
                voice.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div  id="hidden-json" style="display: none;"> <%- JSON.stringify (response_front)  %></div>

    <script src="../public/js/results.js"></script>
    
  </body>
</html>
